body {
    background-color: pink;
    font-family: sans-serif;
}

h1 {
   color: blue;
   Font-family:
}
.img2 {
  float: right;
  margin-right: 300px;
  width: 75px;
  height:75px;
}
.img6 {
    float: left;
    margin-left: 100px;
    width: 75px;
    height: 75 px;
}
