body {
    background-color: pink;
    font-family: sans-serif;
}

h1 {
   color: blue;
   Font-family:
}
.img1 {
  float: right;
  margin-right: 150px;
  width: 200px;
  height:200px;
}
.p3 {
    margin-left: 150px;
    width: 60%;
    height: 30%;
    text-align: center;
    left: 100px;
}


