body {
    background-color: pink;
    font-family: sans-serif;
}

h1 {
    text-shadow: 2px 2px 3px black;
    color: blue;
    Font-family: Francois One;
}

h2 {
    text-shadow: 2px 2px 3px black;
    color: lightskyblue;
    Font-family: Francois One;
}

h3 {
    color: lightskyblue;
    Font-family: Francois One;
}

a:hover {
    color: aquamarine;
}

.center_text {
    text-align: center;
}

ul {
    text-align: center;
    list-style: inside;
}

ol {
    text-align: center;
    list-style: inside;
}

table,
td {
    border: 1px solid #333;
    color: black
}

thead,
tfoot {
    background-color: blue;
    color: greenyellow;
}
p.solid {border-style: solid}
