body {
    background-color: pink;
    font-family: sans-serif;
}

h1 {
    color: blue;
    Font-family: Francois One;
}

h2 {
    color:lightskyblue;
    Font-family: Francois One;
}
h3 {
    color:lightskyblue;
    Font-family: Francois One;
}
a:hover {
    color:aquamarine;
}
